@import "alice-fall/*.png";
$alice-fall-use-percentages: true;

.page_tunnels {
	@include background(image-url("tunnels.svg") no-repeat,
		image-url("bg_tunnel-specks.png"),
		$earth
		);
	@include background-size(100% auto, auto auto);
}

// The Tunnel

#tunnel {
	position: relative;
	@include background(
		url(http://stash.rachelnabors.com/codepen/alice/bg-tunnel-border-left.svg?1) 0 0 repeat-y,
		url(http://stash.rachelnabors.com/codepen/alice/bg-tunnel-border-right.svg?1) 100% 0 repeat-y,
		url(http://stash.rachelnabors.com/codepen/alice/bg-tunnel-furniture-comp900.svg) top center repeat-y,
		url(http://stash.rachelnabors.com/codepen/alice/bg-tunnel-specks.png),
		$earth
	);
	background-size: 
		20px 150px, 
		20px 150px, 
		80% auto,
		auto auto;
}

//let Alice and Cheshire hover above
.page_falling { z-index: -1;}

.curious .alice-falling {
	@include alice-fall-sprite(curious);
}

.bored .alice-falling {
	@include alice-fall-sprite(sleepy);
}

.sleeping .alice-falling {
	@include alice-fall-sprite(sleeping);
}

.waking .alice-falling {
	@include alice-fall-sprite(waking);
}

.weird .alice-falling {
	@include alice-fall-sprite(awake);
}

.jolted .alice-falling {
	@include alice-fall-sprite(jolted);
}
// Characters

$frightened-alice: 'alice-frightened';
@include animation-sequence-sprite-generator($frightened-alice);
@include animation-sequence-keyframes($frightened-alice, "freak-out");

.frightened .alice-falling {
	@include animation-sequence($frightened-alice, 1.5s, "freak-out");
}

#tunnel .alice-falling {
	@include background-size( 100% auto);
	width: percentage(640/$max-width); padding-top: percentage(998/$max-width);
	height: 0;
	left: 50%;
	margin-left: (percentage(640/$max-width) * -.5 );
}

.alice-falling { 
	position: absolute; 
	top: 100%; 
}

.touched.alice-falling {
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	top: 30%; left: 10%;
}

.stuck.alice-falling {
	position: fixed;
}





// .tunnel_bg_wrapper {
// 	height: 100%; width: 100%;
// 	overflow: hidden;
// 	top: 0; left: 0;
// }

// @include keyframes(fall) {
//   0% { 
//     @include translate(0, 0);
//   }
//   100% {
//     @include translate(0, -900px);
//   }
// }

// .tunnel_bg {
// 	@include animation(fall 6s linear infinite);
// 	@include background(
// 		url(http://stash.rachelnabors.com/codepen/alice/bg-tunnel-border-left.svg?1) 0 0 repeat-y,
// 		url(http://stash.rachelnabors.com/codepen/alice/bg-tunnel-border-right.svg?1) 100% 0 repeat-y,
// 		url(http://stash.rachelnabors.com/codepen/alice/bg-tunnel-furniture-comp900.svg) top center repeat-y,
// 		url(http://stash.rachelnabors.com/codepen/alice/bg-tunnel-specks.png)
// 	);
// 	background-size: 
// 		20px 150px, 
// 		20px 150px, 
// 		100% 900px,
// 		auto auto;
// 	position: absolute;
// 	left: 50%; top: 0;
// 	margin-left: -400px;
// 	height: 900px; width: 800px;
// }

// .tunnel_bg2 {
//   top: 900px;
// }

// .tunnel_bg3 {
//   top: 1800px;
// }
