// Extendables
%visuallyhidden {
    // hidden from view, not from screen readers!
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    white-space: nowrap;
}

%hidden {
    display: none !important;
}

%shown {
    display: block !important;
}

%imgreplace {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

%clearfix:before,
%clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

%clearfix:after {
    clear: both;
}

// http://www.thecssninja.com/javascript/pointer-events-60fps
%disable-hover,
%disable-hover * {
    pointer-events: none !important;
}

%disable-scroll {
    overflow: hidden;
}
