// Think my typography is nice? Here's a tutuorial: http://atendesigngroup.com/blog/vertical-rhythm-compass

@import "compass/typography/vertical_rhythm";
 
$base-font-size: 18px;
$base-line-height: 24px;

// Typography
$font-fancy: "blue-goblet-alt";
$font-fancy-bold: "700";

$font-slab: "hellenic-wide";

$font-copy: "nueva-std-extended";
$font-copy-weight: "300";

@include establish-baseline;

body {
	color: $wonderland-purple;
	font-family: $font-copy;
	font-weight: $font-copy-weight;
}
