// Variables

// Max dimensions of iPad retina, the highest target device: 2048-by-1536
$max-width : 2048;
$max-height: 1536;

$min-width: 800;
$min-height: 600;

// Colors

$earth: #6c373f; //#a36f77;
$wonderland-pink: #f090b1;
$wonderland-purple: #431236;