@import "compass/css3/";
@import "animation-studio";
@import "compass/reset";

// Variables

html, body {
	background: #000;
	height: 100%
}
// Extendables
%visuallyhidden { // hidden from view, not from screen readers!
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; 
}

%hidden {
	display: none !important;
}

%shown {
	display: block !important;
}

%imgreplace {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

// Dialog

//p:not(.caption) { revisit if you want to make a more storybook version
p {
	@extend %visuallyhidden;
}

// Loading page
.loading {
	@extend %hidden;
}

.loading, .scene {
	margin: 0 auto;
	width: 800px;
}

// Scenes
// all but the park start hidden. // actually, under loading page, it's hidden too.
.scene:not(.scene-park) {
	@extend %hidden;
}

.scene.cue {
	@extend %shown;
}

// Pages
.page_sitting-in-the-park {
	@include background(image-url("bg_park1.jpg") no-repeat);
}

$sleepy-eyes: 'eyes';
.page_alice-is-bored {
	@include background(image-url("bg_park2.jpg") no-repeat);
	.eyes {
	  @include animation-sequence($sleepy-eyes, 1s);
	}
}
@include animation-sequence-sprite-generator($sleepy-eyes);
@include animation-sequence-keyframes($sleepy-eyes);

.page_rabbit-appears {
	@include background(image-url("../../storyboard/storyboard3.jpg") no-repeat);
}

.page_rabbit-chase {
	@include background(image-url("../../storyboard/storyboard4.jpg") no-repeat);
}

.page_the-hole {
	@include background(image-url("../../storyboard/storyboard5.jpg") no-repeat);
}

.page_tunnels {
	@include background(image-url("../../storyboard/storyboard6.jpg") no-repeat);
}

.falling_frightened {
	@include background(image-url("../../storyboard/storyboard7.jpg") no-repeat);
}

.falling_curious {
	@include background(image-url("../../storyboard/storyboard8.jpg") no-repeat);
}

.falling_bored {
	@include background(image-url("../../storyboard/storyboard9.jpg") no-repeat);
}

.falling_sleeping {
	@include background(image-url("../../storyboard/storyboard10.jpg") no-repeat);
}

.falling_waking {
	@include background(image-url("../../storyboard/storyboard11.jpg") no-repeat);
}

.falling_weird {
	@include background(image-url("../../storyboard/storyboard12.jpg") no-repeat);
}

.falling_aftermath {
	@include background(image-url("../../storyboard/storyboard13.jpg") no-repeat);
}

.falling_lookit-cat {
	@include background(image-url("../../storyboard/storyboard14.jpg") no-repeat);
}

.falling_cat-reveal {
	@include background(image-url("../../storyboard/storyboard15.jpg") no-repeat);
}

.falling_cat-out {
	@include background(image-url("../../storyboard/storyboard16.jpg") no-repeat);
}

.scene-cut {
	@include background(image-url("../../storyboard/storyboard17.png") no-repeat);
}

.page_crash-landing {
	@include background(image-url("../../storyboard/storyboard18.jpg") no-repeat);
}

.page_credits {
	@include background(image-url("../../storyboard/storyboard19.jpg") no-repeat);
}

.page { 
	@extend %imgreplace;
	height:600px;
	position: relative;
	z-index: 0;
	@include background-size( auto 100%);
	@include background-origin( padding-box);
}


// The Tunnel
#to-tunnels {
	@extend %imgreplace;
	position: absolute;
	top: 175px; left: 385px;
	width: 245px; height: 95px;
}

#tunnel {
	position: relative;
}

//let Alice and Cheshire hover above
.page_falling { z-index: -1;}

// Cut
.scene-cut { 
	background: #000;
	height: 100%;
	position: fixed;
	top: 0; left: 50%;
	margin-left: -400px;
	@include transition(opacity 2s ease-out 2s);
	z-index: 10;
	&.cue {
		@include animation(fadeOutFromNone 2s forwards);
	}
}

@include keyframes(fadeOutFromNone) {
	// because transitioning from display: none doesn't work. 
	//http://stackoverflow.com/questions/8449933/animation-css3-display-opacity
    0% { opacity: 1;}
    1% { opacity: 1;}
    100% { opacity: 0; }
}


// Characters

// .alice-falling {
// 	background: #666;
// 	width: 200px; height: 200px;
// 	position: absolute;
// 	top: 0; left: 50%;
// 	margin-left: -200px;
// }

// .cheshire-cat {
// 	background: red;
// 	width: 100px; height: 50px;
// 	position: absolute;
// 	bottom: 0; right: 50%;
// 	margin-right: -200px; 
// }

// #tunnel.in-view {
// 	.alice-falling, .cheshire-cat {
// 		position: fixed;
// 	}
// }
