@import "compass/support";
@import "compass/css3/"; // css3 helpers
// animation helpers w/ Animation Studio
@import "animation-studio"; 

// media queries w/ Breakpoint
@import "breakpoint";

@media screen {
	// Import reset to blow away all styles ever. Don't need them.
	@import "compass/reset";

	// Universally resusable stuff goes here.
	@import "variables";
	@import "extends";

	// General styles for background + shared styles for universal elements. 
	@import "foundation";
	@import "typography";

	// Loading page
	@import "loader";

	// Scenes
	@import "scenes/scenes";
}
// Print styles
@import "print";