/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 7, ../scss/screen.scss */
html, body {
  background: #000;
  height: 100%;
}

/* line 12, ../scss/screen.scss */
p {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
}

/* line 20, ../scss/screen.scss */
.loading, .scene:not(.scene-park) {
  display: none !important;
}

/* line 24, ../scss/screen.scss */
.scene.cue {
  display: block !important;
}

/* line 28, ../scss/screen.scss */
.page, #to-tunnels {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* line 46, ../scss/screen.scss */
.loading, .scene {
  margin: 0 auto;
  width: 800px;
}

/* line 62, ../scss/screen.scss */
.page_sitting-in-the-park {
  background: url('../img/../../storyboard/storyboard1.jpg?1375555533') no-repeat;
}

/* line 66, ../scss/screen.scss */
.page_alice-is-bored {
  background: url('../img/../../storyboard/storyboard2.jpg?1375576459') no-repeat;
}

/* line 70, ../scss/screen.scss */
.page_rabbit-appears {
  background: url('../img/../../storyboard/storyboard3.jpg?1375556126') no-repeat;
}

/* line 74, ../scss/screen.scss */
.page_rabbit-chase {
  background: url('../img/../../storyboard/storyboard4.jpg?1375556452') no-repeat;
}

/* line 78, ../scss/screen.scss */
.page_the-hole {
  background: url('../img/../../storyboard/storyboard5.jpg?1375576586') no-repeat;
}

/* line 82, ../scss/screen.scss */
.page_tunnels {
  background: url('../img/../../storyboard/storyboard6.jpg?1375563243') no-repeat;
}

/* line 86, ../scss/screen.scss */
.falling_frightened {
  background: url('../img/../../storyboard/storyboard7.jpg?1375559487') no-repeat;
}

/* line 90, ../scss/screen.scss */
.falling_curious {
  background: url('../img/../../storyboard/storyboard8.jpg?1375559676') no-repeat;
}

/* line 94, ../scss/screen.scss */
.falling_bored {
  background: url('../img/../../storyboard/storyboard9.jpg?1375559976') no-repeat;
}

/* line 98, ../scss/screen.scss */
.falling_sleeping {
  background: url('../img/../../storyboard/storyboard10.jpg?1375560220') no-repeat;
}

/* line 102, ../scss/screen.scss */
.falling_waking {
  background: url('../img/../../storyboard/storyboard11.jpg?1375560454') no-repeat;
}

/* line 106, ../scss/screen.scss */
.falling_weird {
  background: url('../img/../../storyboard/storyboard12.jpg?1375561139') no-repeat;
}

/* line 110, ../scss/screen.scss */
.falling_aftermath {
  background: url('../img/../../storyboard/storyboard13.jpg?1375561165') no-repeat;
}

/* line 114, ../scss/screen.scss */
.falling_lookit-cat {
  background: url('../img/../../storyboard/storyboard14.jpg?1375561534') no-repeat;
}

/* line 118, ../scss/screen.scss */
.falling_cat-reveal {
  background: url('../img/../../storyboard/storyboard15.jpg?1375561517') no-repeat;
}

/* line 122, ../scss/screen.scss */
.falling_cat-out {
  background: url('../img/../../storyboard/storyboard16.jpg?1375561688') no-repeat;
}

/* line 126, ../scss/screen.scss */
.scene-cut {
  background: url('../img/../../storyboard/storyboard17.png?1375561755') no-repeat;
}

/* line 130, ../scss/screen.scss */
.page_crash-landing {
  background: url('../img/../../storyboard/storyboard18.jpg?1375563055') no-repeat;
}

/* line 134, ../scss/screen.scss */
.page_credits {
  background: url('../img/../../storyboard/storyboard19.jpg?1375563030') no-repeat;
}

/* line 138, ../scss/screen.scss */
.page {
  height: 600px;
  position: relative;
  z-index: 0;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  -webkit-background-origin: padding;
  -moz-background-origin: padding;
  background-origin: padding-box;
}

/* line 149, ../scss/screen.scss */
#to-tunnels {
  position: absolute;
  top: 175px;
  left: 385px;
  width: 245px;
  height: 95px;
}

/* line 156, ../scss/screen.scss */
#tunnel {
  position: relative;
}

/* line 161, ../scss/screen.scss */
.page_falling {
  z-index: -1;
}

/* line 164, ../scss/screen.scss */
.scene-cut {
  background: #000;
  height: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -400px;
  -webkit-transition: opacity 2s ease-out;
  -webkit-transition-delay: 2s;
  -moz-transition: opacity 2s ease-out 2s;
  -o-transition: opacity 2s ease-out 2s;
  transition: opacity 2s ease-out 2s;
  z-index: 10;
}
/* line 172, ../scss/screen.scss */
.scene-cut.cue {
  -webkit-animation: fadeOutFromNone 2s forwards;
  -moz-animation: fadeOutFromNone 2s forwards;
  -o-animation: fadeOutFromNone 2s forwards;
  animation: fadeOutFromNone 2s forwards;
}

@-moz-keyframes fadeOutFromNone {
  /* line 180, ../scss/screen.scss */
  0% {
    opacity: 1;
  }

  /* line 181, ../scss/screen.scss */
  1% {
    opacity: 1;
  }

  /* line 182, ../scss/screen.scss */
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOutFromNone {
  /* line 180, ../scss/screen.scss */
  0% {
    opacity: 1;
  }

  /* line 181, ../scss/screen.scss */
  1% {
    opacity: 1;
  }

  /* line 182, ../scss/screen.scss */
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOutFromNone {
  /* line 180, ../scss/screen.scss */
  0% {
    opacity: 1;
  }

  /* line 181, ../scss/screen.scss */
  1% {
    opacity: 1;
  }

  /* line 182, ../scss/screen.scss */
  100% {
    opacity: 0;
  }
}

@keyframes fadeOutFromNone {
  /* line 180, ../scss/screen.scss */
  0% {
    opacity: 1;
  }

  /* line 181, ../scss/screen.scss */
  1% {
    opacity: 1;
  }

  /* line 182, ../scss/screen.scss */
  100% {
    opacity: 0;
  }
}
