/* Credits Page */
@import "credits/*.png";
$credits-use-percentages: true;

.scene-wonderland .page_credits { // .scene for specificity
	opacity: 1;
	z-index: 20;

	// let the credits grow as long as they need
	height: auto;
	min-height: 75vw; //maintain a 3 to 4 ratio 
	padding-top: 0;
	@include breakpoint($breakpoint-short) {
	    height: auto;
	    min-height: 100vh;
  	}

	@include background(#a22882 image-url("pat_argyle.svg"));
	@include background-size(25%, auto);
	.alice, .rabbit {
		@include background(image-url("sprite_credits.svg") no-repeat);
		@include background-size( 100% auto);
		position: absolute;
		top: 20%;
		z-index: 1;
	}
	.alice {
		width: percentage(769/$max-width); padding-top: percentage(996/$max-width);
		background-size: percentage(816/769);
		left: -30%;
	}
	.rabbit {
		width: percentage(816/$max-width); padding-top: percentage(900/$max-width);
		background-position: 0 100%;
		right: -9%;
	}
	&.in-view {
		.alice {
			@include transition(left ease-in 1.25s .25s);
			left: -23%;
		}
		.rabbit{
			@include transition(right ease-in 1s);
			right: -20%;
		}
	}
}

.continued {
	background: $wonderland-pink;
	text-indent: 0;
	margin: 0 auto;
	@include margin-trailer(2);	
	@include margin-leader(2);	
	white-space: normal;
	width: 80%;
	@include breakpoint($breakpoint-not-narrow) {
		.tbc {
			@include box-sizing('border-box');
			float: left;
			width: 38.2%; // full width: 38.2
		}
	}
	.action {
		@include breakpoint($breakpoint-not-narrow) {
			@include box-sizing('border-box');
			float: right;
			width: 61.5%;
			padding: 0 5.5742968% 0 0;
		}
		@include breakpoint($breakpoint-narrow) {
			border-bottom: dotted 1px $wonderland-burgundy;
			margin: 0 14.5924% rhythm(1);
		}
		ul {
			margin: 0 0 rhythm(.75);
		}
		li {
			margin-bottom: rhythm(.25);
			@include breakpoint($breakpoint-not-narrow) {
				padding-left: 5.5742968%;
			}
			a {
				@include border-radius(.5em);
				@extend %clearfix;
				display: block;
				min-height: 3em;
				padding-left: 5.5742968%;
				padding-top: rhythm(.5);
				padding-bottom: rhythm(.5);
				position: relative;
			}
			span { 
				display: block;
				padding-left: 3.5em;
			}
			strong {
				font-weight: 700;
			}
			em {
				font-style: italic;
			}
			svg {
				width: 3em;
				height: 3em;
				position: absolute;
				top: rhythm(.5); left: 2.75%;
			}
			a:link, a:visited, a:hover, a:active {
				color: $wonderland-burgundy;
				text-decoration: none;
			}
			a:hover, a:active, a:focus {
				color: $pink-white;
				background-color: darken($wonderland-pink, 10%);
				path { 
					fill: $pink-white !important;
				}
			}
		}
		h3 {
			@include breakpoint($breakpoint-not-narrow) {
				padding-left: 8.25%;
				@include rhythm(0, 1, .25, 0, 36px);
			}
			@include adjust-font-size-to(36px, 3/2);
			@include padding-trailer(.25, 36px);
			font-weight: $font-copy-bold;
		}
	}

	h2 {
		@include box-sizing('border-box');
		background: #64044b;
		color: $pink-white;
		font-family: $font-slab;
		padding: rhythm(1, 48px) 14.5924%;
		@include adjust-font-size-to(48px, 3/2);
		@include margin-trailer(1, 48px);
		strong {
			@include adjust-font-size-to(24px, 1, 48px);
			padding-top: rhythm(.25, 24px);
			display: block;
		}
		span { display: inline-block}
	}
	.newsletter {
		@include box-sizing('border-box');
		margin: 0 14.5924% rhythm(1);
		@include breakpoint($breakpoint-narrow) {
			border-bottom: dotted 1px $wonderland-burgundy;
		}
		@include padding-trailer();
		a:link, a:visited, a:hover, a:active {
			position: relative;
			@include border-radius(.5em);
			color: $pink-white;
			background: darken(adjust-saturation($wonderland-pink, 10%), 10%);
			padding: rhythm(.5) 5.5742968%;
			display: block;
			text-decoration: none;
			text-align: center;
			@include margin-leader(.5);
		}
		a:hover, a:active, a:focus {
			color: #fff;
			background: darken(adjust-saturation($wonderland-pink, 15%), 15%);
			@include transition(top .5s, left .5s);
			top: .15em; left: .15em;
		}
	}
	.author {
		@include box-sizing('border-box');
		@extend %clearfix;
		@include breakpoint($breakpoint-not-narrow) {
			@include adjust-font-size-to(14px);
			clear: both;
			padding: 0 5.5742968% rhythm(1, 14px);
			@include adjust-leading-to(1);
		}
		padding: rhythm(1) 14.5924%;
		a:link, a:visited, a:hover, a:active {
			color: #64044b;
			padding: .1em .1em .05em;
			text-decoration: none;
			border-bottom: dotted 1px $wonderland-burgundy;
		}
		a:hover, a:active {
			color: #ffeef4;
			background: darken($wonderland-pink, 10%);
			border: 0;
		}
	}
	.img-wrap {
		background: $wonderland-grape;
		@include border-radius(50%);
		display: block;
		float: left;
		margin-right: 1em;
		margin-top: -(rhythm(1));
		overflow: hidden;
		width: 5em; height: 5em;
	}
	img {
		margin: 0 auto;
		width: 4.5em;  height: auto;
	}
	
}