// all but the park start hidden. 
.scene:not(.loading) {
	@extend %hidden;
}

// Scenes that get ".cue"-d are shown upon cue. 
// Cue must actively be added with JS.
.scene.cue {
	@extend %shown;
}

// Common to All Pages
.scene .page { // .scene for specificity
	@extend %imgreplace;
	padding-top: 75%; //maintain a 3 to 4 ratio 
	position: relative;
	z-index: 0;
	@include background-size( 100% auto);
	@include background-origin( padding-box);
	@include breakpoint($breakpoint-short) {
	    height: 100vh;
		margin: 0 auto;
	    padding: 0;
    	width: 133.3333vh;
  	}
}

.cue {	@extend %imgreplace;}