/*
Syntax error: Invalid CSS after "...include opacity": expected "}", was ": 0;}"
        on line 107 of /Users/rachel/Animation Projects/Alice in Videoland/project/book/scss/screen.scss

Backtrace:
/Users/rachel/Animation Projects/Alice in Videoland/project/book/scss/screen.scss:107
/Library/Ruby/Gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:1147:in `expected'
/Library/Ruby/Gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:1083:in `expected'
/Library/Ruby/Gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:1078:in `tok!'
/Library/Ruby/Gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:535:in `block'
/Library/Ruby/Gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:528:in `ruleset'
/Library/Ruby/Gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:590:in `declaration_or_ruleset'
/Library/Ruby/Gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:1121:in `call'
/Library/Ruby/Gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:1121:in `rethrow'
/Library/Ruby/Gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:591:in `declaration_or_ruleset'
/Library/Ruby/Gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:553:in `block_child'
/Library/Ruby/Gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:545:in `block_contents'
/Library/Ruby/Gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:534:in `block'
/Library/Ruby/Gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:528:in `ruleset'
/Library/Ruby/Gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:590:in `declaration_or_ruleset'
/Library/Ruby/Gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:1121:in `call'
/Library/Ruby/Gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:1121:in `rethrow'
/Library/Ruby/Gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:591:in `declaration_or_ruleset'
/Library/Ruby/Gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:553:in `block_child'
/Library/Ruby/Gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:545:in `block_contents'
/Library/Ruby/Gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:534:in `block'
/Library/Ruby/Gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:528:in `ruleset'
/Library/Ruby/Gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:552:in `block_child'
/Library/Ruby/Gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:545:in `block_contents'
/Library/Ruby/Gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:82:in `stylesheet'
/Library/Ruby/Gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:27:in `parse'
/Library/Ruby/Gems/1.8/gems/sass-3.2.10/lib/sass/../sass/engine.rb:342:in `_to_tree'
/Library/Ruby/Gems/1.8/gems/sass-3.2.10/lib/sass/../sass/engine.rb:315:in `_render'
/Library/Ruby/Gems/1.8/gems/sass-3.2.10/lib/sass/../sass/engine.rb:262:in `render'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:146:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:132:in `timed'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:145:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/lib/compass/logger.rb:46:in `red'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:144:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:124:in `compile_if_required'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:109:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:107:in `each'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:107:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:132:in `timed'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/lib/compass/compiler.rb:106:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/lib/compass/watcher/compiler.rb:24:in `compile'
(__FORWARDABLE__):3:in `__send__'
(__FORWARDABLE__):3:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:92:in `sass_modified'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:85:in `sass_callback'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/forwardable.rb:148:in `to_proc'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/lib/compass/watcher/watch.rb:17:in `call'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/lib/compass/watcher/watch.rb:17:in `run_callback'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:78:in `listen_callback'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:77:in `each'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:77:in `listen_callback'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:76:in `each'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:76:in `listen_callback'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/forwardable.rb:148:in `to_proc'
/Library/Ruby/Gems/1.8/gems/listen-0.7.3/lib/listen/listener.rb:212:in `call'
/Library/Ruby/Gems/1.8/gems/listen-0.7.3/lib/listen/listener.rb:212:in `on_change'
/Library/Ruby/Gems/1.8/gems/listen-0.7.3/lib/listen/listener.rb:221:in `initialize_adapter'
/Library/Ruby/Gems/1.8/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `call'
/Library/Ruby/Gems/1.8/gems/listen-0.7.3/lib/listen/adapter.rb:198:in `report_changes'
/Library/Ruby/Gems/1.8/gems/listen-0.7.3/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Library/Ruby/Gems/1.8/gems/listen-0.7.3/lib/listen/adapters/darwin.rb:38:in `start'
/Library/Ruby/Gems/1.8/gems/listen-0.7.3/lib/listen/adapters/darwin.rb:38:in `initialize'
/Library/Ruby/Gems/1.8/gems/listen-0.7.3/lib/listen/adapters/darwin.rb:38:in `new'
/Library/Ruby/Gems/1.8/gems/listen-0.7.3/lib/listen/adapters/darwin.rb:38:in `start'
/Library/Ruby/Gems/1.8/gems/listen-0.7.3/lib/listen/listener.rb:49:in `start'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/lib/compass/watcher/project_watcher.rb:31:in `watch!'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/lib/compass/commands/watch_project.rb:48:in `perform'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/lib/compass/commands/base.rb:18:in `execute'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/lib/compass/commands/project_base.rb:19:in `execute'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/bin/compass:30
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/bin/compass:44:in `call'
/Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/bin/compass:44
/usr/bin/compass:19:in `load'
/usr/bin/compass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...include opacity\": expected \"}\", was \": 0;}\"\A         on line 107 of /Users/rachel/Animation Projects/Alice in Videoland/project/book/scss/screen.scss"; }
