/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../scss/screen.scss */
html, body {
  background: #000;
  height: 100%;
}

/* line 14, ../scss/screen.scss */
p {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
}

/* line 22, ../scss/screen.scss */
.loading, .scene:not(.scene-park) {
  display: none !important;
}

/* line 26, ../scss/screen.scss */
.scene.cue {
  display: block !important;
}

/* line 30, ../scss/screen.scss */
.page_rabbit-appears .rabbit, .page, #to-tunnels {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@-moz-keyframes hide-if-animation-enabled {
  /* line 40, ../scss/screen.scss */
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes hide-if-animation-enabled {
  /* line 40, ../scss/screen.scss */
  100% {
    opacity: 0;
  }
}

@-o-keyframes hide-if-animation-enabled {
  /* line 40, ../scss/screen.scss */
  100% {
    opacity: 0;
  }
}

@keyframes hide-if-animation-enabled {
  /* line 40, ../scss/screen.scss */
  100% {
    opacity: 0;
  }
}

/* line 55, ../scss/screen.scss */
.loading, .scene {
  margin: 0 auto;
  width: 800px;
}

/* line 71, ../scss/screen.scss */
.page_sitting-in-the-park {
  background: url('../img/bg_park1.jpg?1377318992') no-repeat;
}

/* line 76, ../scss/screen.scss */
.page_alice-is-bored {
  background: url('../img/bg_park2.jpg?1377374754') no-repeat;
}
/* line 78, ../scss/screen.scss */
.page_alice-is-bored .eyes {
  width: 124px;
  height: 57px;
  top: 159px;
  left: 83px;
}

/* line 87, ../scss/screen.scss */
.page_rabbit-appears {
  background: url('../img/bg_park3.jpg?1377381587') no-repeat;
}
/* line 89, ../scss/screen.scss */
.page_rabbit-appears .blink {
  background: url('../img/blink.svg?1377386293') 0 100% no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
/* line 96, ../scss/screen.scss */
.page_rabbit-appears.in-view .blink {
  -webkit-animation: scene-blink 0.75s steps(5) 5 -1s alternate;
  -moz-animation: scene-blink 0.75s steps(5) 5 -1s alternate;
  -o-animation: scene-blink 0.75s steps(5) 5 -1s alternate;
  animation: scene-blink 0.75s steps(5) 5 -1s alternate;
}
/* line 99, ../scss/screen.scss */
.page_rabbit-appears .rabbit {
  background: url('../img/rabbit_running.png?1377381538');
  width: 444px;
  height: 490px;
  position: absolute;
  top: 60%;
  margin-top: -245px;
  left: 50%;
  margin-left: -244px;
  z-index: 1;
  -webkit-animation: hide-if-animation-enabled 0.01s forwards;
  -moz-animation: hide-if-animation-enabled 0.01s forwards;
  -o-animation: hide-if-animation-enabled 0.01s forwards;
  animation: hide-if-animation-enabled 0.01s forwards;
}
/* line 109, ../scss/screen.scss */
.page_rabbit-appears.in-view .rabbit {
  -webkit-animation: rabbit-run 10s forwards;
  -moz-animation: rabbit-run 10s forwards;
  -o-animation: rabbit-run 10s forwards;
  animation: rabbit-run 10s forwards;
}

@-moz-keyframes scene-blink {
  /* line 116, ../scss/screen.scss */
  0% {
    background-position: 0 0;
  }

  /* line 117, ../scss/screen.scss */
  100% {
    background-position: 0 125%;
  }
}

@-webkit-keyframes scene-blink {
  /* line 116, ../scss/screen.scss */
  0% {
    background-position: 0 0;
  }

  /* line 117, ../scss/screen.scss */
  100% {
    background-position: 0 125%;
  }
}

@-o-keyframes scene-blink {
  /* line 116, ../scss/screen.scss */
  0% {
    background-position: 0 0;
  }

  /* line 117, ../scss/screen.scss */
  100% {
    background-position: 0 125%;
  }
}

@keyframes scene-blink {
  /* line 116, ../scss/screen.scss */
  0% {
    background-position: 0 0;
  }

  /* line 117, ../scss/screen.scss */
  100% {
    background-position: 0 125%;
  }
}

@-moz-keyframes rabbit-run {
  /* line 121, ../scss/screen.scss */
  0% {
    left: -100%;
  }

  /* line 124, ../scss/screen.scss */
  50% {
    top: 80%;
  }

  /* line 127, ../scss/screen.scss */
  100% {
    top: 60%;
    left: 200%;
  }
}

@-webkit-keyframes rabbit-run {
  /* line 121, ../scss/screen.scss */
  0% {
    left: -100%;
  }

  /* line 124, ../scss/screen.scss */
  50% {
    top: 80%;
  }

  /* line 127, ../scss/screen.scss */
  100% {
    top: 60%;
    left: 200%;
  }
}

@-o-keyframes rabbit-run {
  /* line 121, ../scss/screen.scss */
  0% {
    left: -100%;
  }

  /* line 124, ../scss/screen.scss */
  50% {
    top: 80%;
  }

  /* line 127, ../scss/screen.scss */
  100% {
    top: 60%;
    left: 200%;
  }
}

@keyframes rabbit-run {
  /* line 121, ../scss/screen.scss */
  0% {
    left: -100%;
  }

  /* line 124, ../scss/screen.scss */
  50% {
    top: 80%;
  }

  /* line 127, ../scss/screen.scss */
  100% {
    top: 60%;
    left: 200%;
  }
}

/* line 133, ../scss/screen.scss */
.page_rabbit-chase {
  background: url('../img/bg_park4.jpg?1377489323') no-repeat;
}

/* line 137, ../scss/screen.scss */
.page_the-hole {
  background: url('../img/../../storyboard/storyboard5.jpg?1375576586') no-repeat;
}

/* line 141, ../scss/screen.scss */
.page_tunnels {
  background: url('../img/../../storyboard/storyboard6.jpg?1375563243') no-repeat;
}

/* line 145, ../scss/screen.scss */
.falling_frightened {
  background: url('../img/../../storyboard/storyboard7.jpg?1375559487') no-repeat;
}

/* line 149, ../scss/screen.scss */
.falling_curious {
  background: url('../img/../../storyboard/storyboard8.jpg?1375559676') no-repeat;
}

/* line 153, ../scss/screen.scss */
.falling_bored {
  background: url('../img/../../storyboard/storyboard9.jpg?1375559976') no-repeat;
}

/* line 157, ../scss/screen.scss */
.falling_sleeping {
  background: url('../img/../../storyboard/storyboard10.jpg?1375560220') no-repeat;
}

/* line 161, ../scss/screen.scss */
.falling_waking {
  background: url('../img/../../storyboard/storyboard11.jpg?1375560454') no-repeat;
}

/* line 165, ../scss/screen.scss */
.falling_weird {
  background: url('../img/../../storyboard/storyboard12.jpg?1375561139') no-repeat;
}

/* line 169, ../scss/screen.scss */
.falling_aftermath {
  background: url('../img/../../storyboard/storyboard13.jpg?1375561165') no-repeat;
}

/* line 173, ../scss/screen.scss */
.falling_lookit-cat {
  background: url('../img/../../storyboard/storyboard14.jpg?1375561534') no-repeat;
}

/* line 177, ../scss/screen.scss */
.falling_cat-reveal {
  background: url('../img/../../storyboard/storyboard15.jpg?1375561517') no-repeat;
}

/* line 181, ../scss/screen.scss */
.falling_cat-out {
  background: url('../img/../../storyboard/storyboard16.jpg?1375561688') no-repeat;
}

/* line 185, ../scss/screen.scss */
.scene-cut {
  background: url('../img/../../storyboard/storyboard17.png?1375561755') no-repeat;
}

/* line 189, ../scss/screen.scss */
.page_crash-landing {
  background: url('../img/../../storyboard/storyboard18.jpg?1375563055') no-repeat;
}

/* line 193, ../scss/screen.scss */
.page_credits {
  background: url('../img/../../storyboard/storyboard19.jpg?1375563030') no-repeat;
}

/* line 197, ../scss/screen.scss */
.page {
  height: 600px;
  position: relative;
  z-index: 0;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  -webkit-background-origin: padding;
  -moz-background-origin: padding;
  background-origin: padding-box;
}

/* line 208, ../scss/screen.scss */
#to-tunnels {
  position: absolute;
  top: 175px;
  left: 385px;
  width: 245px;
  height: 95px;
}

/* line 215, ../scss/screen.scss */
#tunnel {
  position: relative;
}

/* line 220, ../scss/screen.scss */
.page_falling {
  z-index: -1;
}

/* line 223, ../scss/screen.scss */
.scene-cut {
  background: #000;
  height: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  margin-left: -400px;
  -webkit-transition: opacity 2s ease-out;
  -webkit-transition-delay: 2s;
  -moz-transition: opacity 2s ease-out 2s;
  -o-transition: opacity 2s ease-out 2s;
  transition: opacity 2s ease-out 2s;
  z-index: 10;
}
/* line 231, ../scss/screen.scss */
.scene-cut.cue {
  -webkit-animation: fadeOutFromNone 2s forwards;
  -moz-animation: fadeOutFromNone 2s forwards;
  -o-animation: fadeOutFromNone 2s forwards;
  animation: fadeOutFromNone 2s forwards;
}

@-moz-keyframes fadeOutFromNone {
  /* line 239, ../scss/screen.scss */
  0% {
    opacity: 1;
  }

  /* line 240, ../scss/screen.scss */
  1% {
    opacity: 1;
  }

  /* line 241, ../scss/screen.scss */
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOutFromNone {
  /* line 239, ../scss/screen.scss */
  0% {
    opacity: 1;
  }

  /* line 240, ../scss/screen.scss */
  1% {
    opacity: 1;
  }

  /* line 241, ../scss/screen.scss */
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOutFromNone {
  /* line 239, ../scss/screen.scss */
  0% {
    opacity: 1;
  }

  /* line 240, ../scss/screen.scss */
  1% {
    opacity: 1;
  }

  /* line 241, ../scss/screen.scss */
  100% {
    opacity: 0;
  }
}

@keyframes fadeOutFromNone {
  /* line 239, ../scss/screen.scss */
  0% {
    opacity: 1;
  }

  /* line 240, ../scss/screen.scss */
  1% {
    opacity: 1;
  }

  /* line 241, ../scss/screen.scss */
  100% {
    opacity: 0;
  }
}
