/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 2, ../scss/_extends.scss */
.page > p {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
}

/* line 10, ../scss/_extends.scss */
.scene {
  display: none !important;
}

/* line 14, ../scss/_extends.scss */
.loading .scene, .scene.cue {
  display: block !important;
}

/* line 18, ../scss/_extends.scss */
.loading-card, .scene .page, .cue, .page_rabbit-appears .rabbit, #to-tunnels {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* line 25, ../scss/_extends.scss */
.continued .action li a:before, .continued .author:before,
.continued .action li a:after,
.continued .author:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 30, ../scss/_extends.scss */
.continued .action li a:after, .continued .author:after {
  clear: both;
}

/* line 36, ../scss/_extends.scss */
.scene-transitioning,
.scene-transitioning * {
  pointer-events: none !important;
}

/* line 40, ../scss/_extends.scss */
.scene-transitioning {
  overflow: hidden;
}

/* line 1, ../scss/_foundation.scss */
html, body {
  background: #000;
  height: 100%;
}

/* line 105, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 112.5%;
  line-height: 1.33333em;
}

/* line 20, ../scss/_typography.scss */
body {
  color: #431236;
  font-family: "nueva-std-extended";
  font-weight: 400;
}

/* line 1, ../scss/_loader.scss */
.loading-card {
  background: #a22882 url('../img/pat_argyle.svg?1378830277') repeat;
  background-size: 25% auto;
  height: 100%;
  position: fixed;
  -webkit-background-origin: padding;
  -moz-background-origin: padding;
  background-origin: padding-box;
  width: 100%;
  z-index: 20;
  text-indent: 0;
  text-align: center;
  white-space: normal;
}

/* line 16, ../scss/_loader.scss */
.loaded .loading-card {
  height: 0;
  -webkit-transition: height 2s ease-in;
  -webkit-transition-delay: 1.5s;
  -moz-transition: height 2s ease-in 1.5s;
  -o-transition: height 2s ease-in 1.5s;
  transition: height 2s ease-in 1.5s;
}

/* line 21, ../scss/_loader.scss */
h1 {
  background: #a22882;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #431236;
  font-family: "hellenic-wide";
  font-size: 2em;
  line-height: 1.33333em;
  padding: 1em 1em .5em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

/* line 34, ../scss/_loader.scss */
.byline {
  background: #20b3aa;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #00232b;
  position: absolute;
  bottom: 0;
  font-family: "nueva-std-extended";
  font-weight: 400;
  padding: .5em;
  width: 100%;
  z-index: 3;
}

/* line 47, ../scss/_loader.scss */
#loader {
  -webkit-animation: cup-drop 1.5s cubic-bezier(0.11, 1.06, 0.21, 0.99) 1.5s forwards;
  -moz-animation: cup-drop 1.5s cubic-bezier(0.11, 1.06, 0.21, 0.99) 1.5s forwards;
  -o-animation: cup-drop 1.5s cubic-bezier(0.11, 1.06, 0.21, 0.99) 1.5s forwards;
  animation: cup-drop 1.5s cubic-bezier(0.11, 1.06, 0.21, 0.99) 1.5s forwards;
  width: 13.75em;
  height: 10.1875em;
  position: absolute;
  top: -100%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  margin-top: -5.09375em;
  z-index: 2;
}

/* line 57, ../scss/_loader.scss */
.cup {
  background: url('../img/teacup.svg?1378873015') 0 0 no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  position: absolute;
  margin-left: 1.5em;
  width: 100%;
  height: 100%;
}
/* line 63, ../scss/_loader.scss */
.cup p {
  font-family: "blue-goblet-alt", fantasy;
  font-size: 1.33333em;
  line-height: 1em;
  position: absolute;
  top: 40%;
  left: 8%;
  width: 60%;
}

/* line 74, ../scss/_loader.scss */
.saucer {
  -webkit-animation: saucer-drop 3s cubic-bezier(0.11, 1.06, 0.87, 1.06) 2s forwards;
  -moz-animation: saucer-drop 3s cubic-bezier(0.11, 1.06, 0.87, 1.06) 2s forwards;
  -o-animation: saucer-drop 3s cubic-bezier(0.11, 1.06, 0.87, 1.06) 2s forwards;
  animation: saucer-drop 3s cubic-bezier(0.11, 1.06, 0.87, 1.06) 2s forwards;
  background: url('../img/saucer.svg?1378872308') 0 0 no-repeat;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  width: 16.25em;
  padding-top: 4.375em;
  position: absolute;
  top: -500%;
  left: 50%;
  margin-left: -8.125em;
  z-index: -1;
}

/* line 85, ../scss/_loader.scss */
.loaded .saucer {
  -webkit-animation: saucer-done 1s 0.5s forwards;
  -moz-animation: saucer-done 1s 0.5s forwards;
  -o-animation: saucer-done 1s 0.5s forwards;
  animation: saucer-done 1s 0.5s forwards;
  top: 80%;
}

/* line 90, ../scss/_loader.scss */
.loaded #loader {
  -webkit-animation: cup-done 1s cubic-bezier(1, 1.18, 0.3, -0.19) 1s forwards;
  -moz-animation: cup-done 1s cubic-bezier(1, 1.18, 0.3, -0.19) 1s forwards;
  -o-animation: cup-done 1s cubic-bezier(1, 1.18, 0.3, -0.19) 1s forwards;
  animation: cup-done 1s cubic-bezier(1, 1.18, 0.3, -0.19) 1s forwards;
  top: 60%;
}

/* line 95, ../scss/_loader.scss */
#brew {
  -webkit-animation: pour-tea 5s 1 3s forwards;
  -moz-animation: pour-tea 5s 1 3s forwards;
  -o-animation: pour-tea 5s 1 3s forwards;
  animation: pour-tea 5s 1 3s forwards;
  position: absolute;
  bottom: 6.4em;
  left: 50%;
  margin-left: -5.5em;
  width: 8em;
  height: 4.375em;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

@-moz-keyframes pour-tea {
  /* line 105, ../scss/_loader.scss */
  100% {
    -moz-transform: scale(1.2, 1.5);
    transform: scale(1.2, 1.5);
    bottom: 6.6em;
  }
}

@-webkit-keyframes pour-tea {
  /* line 105, ../scss/_loader.scss */
  100% {
    -webkit-transform: scale(1.2, 1.5);
    transform: scale(1.2, 1.5);
    bottom: 6.6em;
  }
}

@-o-keyframes pour-tea {
  /* line 105, ../scss/_loader.scss */
  100% {
    -o-transform: scale(1.2, 1.5);
    transform: scale(1.2, 1.5);
    bottom: 6.6em;
  }
}

@keyframes pour-tea {
  /* line 105, ../scss/_loader.scss */
  100% {
    transform: scale(1.2, 1.5);
    bottom: 6.6em;
  }
}

@-moz-keyframes cup-drop {
  /* line 112, ../scss/_loader.scss */
  100% {
    top: 60%;
  }
}

@-webkit-keyframes cup-drop {
  /* line 112, ../scss/_loader.scss */
  100% {
    top: 60%;
  }
}

@-o-keyframes cup-drop {
  /* line 112, ../scss/_loader.scss */
  100% {
    top: 60%;
  }
}

@keyframes cup-drop {
  /* line 112, ../scss/_loader.scss */
  100% {
    top: 60%;
  }
}

@-moz-keyframes saucer-drop {
  /* line 118, ../scss/_loader.scss */
  100% {
    top: 80%;
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes saucer-drop {
  /* line 118, ../scss/_loader.scss */
  100% {
    top: 80%;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes saucer-drop {
  /* line 118, ../scss/_loader.scss */
  100% {
    top: 80%;
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes saucer-drop {
  /* line 118, ../scss/_loader.scss */
  100% {
    top: 80%;
    transform: rotate(360deg);
  }
}

@-moz-keyframes saucer-done {
  /* line 125, ../scss/_loader.scss */
  100% {
    top: 100%;
  }
}

@-webkit-keyframes saucer-done {
  /* line 125, ../scss/_loader.scss */
  100% {
    top: 100%;
  }
}

@-o-keyframes saucer-done {
  /* line 125, ../scss/_loader.scss */
  100% {
    top: 100%;
  }
}

@keyframes saucer-done {
  /* line 125, ../scss/_loader.scss */
  100% {
    top: 100%;
  }
}

@-moz-keyframes cup-done {
  /* line 131, ../scss/_loader.scss */
  15% {
    -moz-transform: rotate(7deg) translate(-50%, 0);
    transform: rotate(7deg) translate(-50%, 0);
  }

  /* line 134, ../scss/_loader.scss */
  65% {
    -moz-transform: rotate(-11deg) translate(-50%, 0);
    transform: rotate(-11deg) translate(-50%, 0);
  }

  /* line 137, ../scss/_loader.scss */
  100% {
    -moz-transform: rotate(0deg) translate(-50%, 0);
    transform: rotate(0deg) translate(-50%, 0);
    top: 200%;
  }
}

@-webkit-keyframes cup-done {
  /* line 131, ../scss/_loader.scss */
  15% {
    -webkit-transform: rotate(7deg) translate(-50%, 0);
    transform: rotate(7deg) translate(-50%, 0);
  }

  /* line 134, ../scss/_loader.scss */
  65% {
    -webkit-transform: rotate(-11deg) translate(-50%, 0);
    transform: rotate(-11deg) translate(-50%, 0);
  }

  /* line 137, ../scss/_loader.scss */
  100% {
    -webkit-transform: rotate(0deg) translate(-50%, 0);
    transform: rotate(0deg) translate(-50%, 0);
    top: 200%;
  }
}

@-o-keyframes cup-done {
  /* line 131, ../scss/_loader.scss */
  15% {
    -o-transform: rotate(7deg) translate(-50%, 0);
    transform: rotate(7deg) translate(-50%, 0);
  }

  /* line 134, ../scss/_loader.scss */
  65% {
    -o-transform: rotate(-11deg) translate(-50%, 0);
    transform: rotate(-11deg) translate(-50%, 0);
  }

  /* line 137, ../scss/_loader.scss */
  100% {
    -o-transform: rotate(0deg) translate(-50%, 0);
    transform: rotate(0deg) translate(-50%, 0);
    top: 200%;
  }
}

@keyframes cup-done {
  /* line 131, ../scss/_loader.scss */
  15% {
    transform: rotate(7deg) translate(-50%, 0);
  }

  /* line 134, ../scss/_loader.scss */
  65% {
    transform: rotate(-11deg) translate(-50%, 0);
  }

  /* line 137, ../scss/_loader.scss */
  100% {
    transform: rotate(0deg) translate(-50%, 0);
    top: 200%;
  }
}

/* line 143, ../scss/_loader.scss */
.loading .scene {
  opacity: 0;
}

/* line 148, ../scss/_loader.scss */
.loading {
  overflow: hidden;
}

/* line 2, ../scss/scenes/_common.scss */
.scene {
  margin: 0 auto;
}

/* line 14, ../scss/scenes/_common.scss */
.scene .page {
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  padding-top: 75%;
  position: relative;
  z-index: 0;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  -webkit-background-origin: padding;
  -moz-background-origin: padding;
  background-origin: padding-box;
}

/* line 4, ../scss/scenes/park/_scene-park.scss */
.loaded .scene-park {
  opacity: 0;
}

/* line 8, ../scss/scenes/park/_scene-park.scss */
.scene-park.cue {
  opacity: 1;
  -webkit-transition: opacity 2s;
  -webkit-transition-delay: 2s;
  -moz-transition: opacity 2s 2s;
  -o-transition: opacity 2s 2s;
  transition: opacity 2s 2s;
}

/* line 1, ../scss/scenes/park/_page-sitting-in-the-park.scss */
.page_sitting-in-the-park {
  background: url('../img/bg_park1.jpg?1377318992') no-repeat;
}

/* line 12, ../../../../../../../Library/Ruby/Gems/1.8/gems/animation-studio-0.1.2/stylesheets/animation-studio/_animation-sequence.scss */
.page_alice-is-bored .eyes {
  background: url('../img/eyes-s087e210706.png') 0 0 no-repeat;
}

@-moz-keyframes sleepz {
  /* line 55, ../../../../../../../Library/Ruby/Gems/1.8/gems/animation-studio-0.1.2/stylesheets/animation-studio/_animation-sequence.scss */
  0% {
    background-position: 0 0;
  }

  /* line 58, ../../../../../../../Library/Ruby/Gems/1.8/gems/animation-studio-0.1.2/stylesheets/animation-studio/_animation-sequence.scss */
  100% {
    background-position: 0 150%;
  }
}

@-webkit-keyframes sleepz {
  /* line 55, ../../../../../../../Library/Ruby/Gems/1.8/gems/animation-studio-0.1.2/stylesheets/animation-studio/_animation-sequence.scss */
  0% {
    background-position: 0 0;
  }

  /* line 58, ../../../../../../../Library/Ruby/Gems/1.8/gems/animation-studio-0.1.2/stylesheets/animation-studio/_animation-sequence.scss */
  100% {
    background-position: 0 150%;
  }
}

@-o-keyframes sleepz {
  /* line 55, ../../../../../../../Library/Ruby/Gems/1.8/gems/animation-studio-0.1.2/stylesheets/animation-studio/_animation-sequence.scss */
  0% {
    background-position: 0 0;
  }

  /* line 58, ../../../../../../../Library/Ruby/Gems/1.8/gems/animation-studio-0.1.2/stylesheets/animation-studio/_animation-sequence.scss */
  100% {
    background-position: 0 150%;
  }
}

@keyframes sleepz {
  /* line 55, ../../../../../../../Library/Ruby/Gems/1.8/gems/animation-studio-0.1.2/stylesheets/animation-studio/_animation-sequence.scss */
  0% {
    background-position: 0 0;
  }

  /* line 58, ../../../../../../../Library/Ruby/Gems/1.8/gems/animation-studio-0.1.2/stylesheets/animation-studio/_animation-sequence.scss */
  100% {
    background-position: 0 150%;
  }
}

/* line 5, ../scss/scenes/park/_page-alice-is-bored.scss */
.page_alice-is-bored {
  background: url('../img/bg_park2.jpg?1377374754') no-repeat;
}
/* line 7, ../scss/scenes/park/_page-alice-is-bored.scss */
.page_alice-is-bored .eyes {
  height: 142px;
  width: 310px;
  -webkit-animation: sleepz 1.5s steps(3) infinite;
  -moz-animation: sleepz 1.5s steps(3) infinite;
  -o-animation: sleepz 1.5s steps(3) infinite;
  animation: sleepz 1.5s steps(3) infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
  position: absolute;
  top: 24%;
  left: 10%;
  width: 15.5%;
  height: 0;
  padding-top: 7.125%;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}
/* line 17, ../scss/scenes/park/_page-alice-is-bored.scss */
.page_alice-is-bored.in-view .eyes {
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  animation-play-state: running;
}

/* line 1, ../scss/scenes/park/_page-rabbit-appears.scss */
.page_rabbit-appears {
  background: url('../img/bg_park3.jpg?1377381587') no-repeat;
}
/* line 3, ../scss/scenes/park/_page-rabbit-appears.scss */
.page_rabbit-appears .blink {
  background: url('../img/blink.svg?1377386293') 0 100% no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
/* line 11, ../scss/scenes/park/_page-rabbit-appears.scss */
.page_rabbit-appears.in-view .blink {
  -webkit-animation: scene-blink 0.75s steps(5) 5 -1s alternate;
  -moz-animation: scene-blink 0.75s steps(5) 5 -1s alternate;
  -o-animation: scene-blink 0.75s steps(5) 5 -1s alternate;
  animation: scene-blink 0.75s steps(5) 5 -1s alternate;
}
/* line 14, ../scss/scenes/park/_page-rabbit-appears.scss */
.page_rabbit-appears .rabbit {
  background: url('../img/rabbit_running.png?1379664786');
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  width: 55.41992%;
  padding-top: 61.23047%;
  position: absolute;
  top: 70%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}
/* line 24, ../scss/scenes/park/_page-rabbit-appears.scss */
.cssanimations .page_rabbit-appears .rabbit {
  left: -50%;
}
/* line 29, ../scss/scenes/park/_page-rabbit-appears.scss */
.csstransitions .page_rabbit-appears.in-view .rabbit {
  -webkit-transform: translate(280.44053%, -50%);
  -moz-transform: translate(280.44053%, -50%);
  -ms-transform: translate(280.44053%, -50%);
  -o-transform: translate(280.44053%, -50%);
  transform: translate(280.44053%, -50%);
  -webkit-transition: -webkit-transform 5s ease-in;
  -moz-transition: -moz-transform 5s ease-in;
  -o-transition: -o-transform 5s ease-in;
  transition: transform 5s ease-in;
}

@-moz-keyframes scene-blink {
  /* line 37, ../scss/scenes/park/_page-rabbit-appears.scss */
  0% {
    background-position: 0 0;
  }

  /* line 38, ../scss/scenes/park/_page-rabbit-appears.scss */
  100% {
    background-position: 0 125%;
  }
}

@-webkit-keyframes scene-blink {
  /* line 37, ../scss/scenes/park/_page-rabbit-appears.scss */
  0% {
    background-position: 0 0;
  }

  /* line 38, ../scss/scenes/park/_page-rabbit-appears.scss */
  100% {
    background-position: 0 125%;
  }
}

@-o-keyframes scene-blink {
  /* line 37, ../scss/scenes/park/_page-rabbit-appears.scss */
  0% {
    background-position: 0 0;
  }

  /* line 38, ../scss/scenes/park/_page-rabbit-appears.scss */
  100% {
    background-position: 0 125%;
  }
}

@keyframes scene-blink {
  /* line 37, ../scss/scenes/park/_page-rabbit-appears.scss */
  0% {
    background-position: 0 0;
  }

  /* line 38, ../scss/scenes/park/_page-rabbit-appears.scss */
  100% {
    background-position: 0 125%;
  }
}

/* line 1, ../scss/scenes/park/_page-rabbit-chase.scss */
.page_rabbit-chase {
  background: url('../img/bg_park4.jpg?1377489323') no-repeat;
}
/* line 3, ../scss/scenes/park/_page-rabbit-chase.scss */
.page_rabbit-chase .alice {
  background: url('../img/park4_alice.png?1377546135');
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  left: 34%;
  width: 23.73047%;
  padding-top: 19.33594%;
}
/* line 8, ../scss/scenes/park/_page-rabbit-chase.scss */
.csstransitions .page_rabbit-chase .alice {
  left: -23.73047%;
}
/* line 11, ../scss/scenes/park/_page-rabbit-chase.scss */
.page_rabbit-chase .rabbit1 {
  background: url('../img/park4_rabbit1.png?1377546166');
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  position: absolute;
  top: 33%;
  left: 46%;
  width: 8.34961%;
  padding-top: 24.26758%;
}
/* line 18, ../scss/scenes/park/_page-rabbit-chase.scss */
.page_rabbit-chase .rabbit2 {
  background: url('../img/park4_rabbit2.png?1377546242');
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  left: 70%;
  width: 20.26367%;
  padding-top: 18.60352%;
}
/* line 23, ../scss/scenes/park/_page-rabbit-chase.scss */
.csstransitions .page_rabbit-chase .rabbit2 {
  left: -20.26367%;
}
/* line 28, ../scss/scenes/park/_page-rabbit-chase.scss */
.csstransitions .page_rabbit-chase.in-view .rabbit1 {
  -webkit-transition: -webkit-transform 2s ease-in;
  -moz-transition: -moz-transform 2s ease-in;
  -o-transition: -o-transform 2s ease-in;
  transition: transform 2s ease-in;
  -webkit-transform: perspective(0) scale(0.5, 0.5);
  -moz-transform: perspective(0) scale(0.5, 0.5);
  -ms-transform: perspective(0) scale(0.5, 0.5);
  -o-transform: perspective(0) scale(0.5, 0.5);
  transform: perspective(0) scale(0.5, 0.5);
}
/* line 33, ../scss/scenes/park/_page-rabbit-chase.scss */
.csstransitions .page_rabbit-chase.in-view .rabbit2 {
  -webkit-transition: -webkit-transform 3s ease-in;
  -webkit-transition-delay: 1.5s;
  -moz-transition: -moz-transform 3s ease-in 1.5s;
  -o-transition: -o-transform 3s ease-in 1.5s;
  transition: transform 3s ease-in 1.5s;
  -webkit-transform: translate(601.92771%, 0);
  -moz-transform: translate(601.92771%, 0);
  -ms-transform: translate(601.92771%, 0);
  -o-transform: translate(601.92771%, 0);
  transform: translate(601.92771%, 0);
}
/* line 37, ../scss/scenes/park/_page-rabbit-chase.scss */
.csstransitions .page_rabbit-chase.in-view .alice {
  -webkit-transition: -webkit-transform 3s ease-in;
  -webkit-transition-delay: 3s;
  -moz-transition: -moz-transform 3s ease-in 3s;
  -o-transition: -o-transform 3s ease-in 3s;
  transition: transform 3s ease-in 3s;
  -webkit-transform: translate(524.27984%, 0);
  -moz-transform: translate(524.27984%, 0);
  -ms-transform: translate(524.27984%, 0);
  -o-transform: translate(524.27984%, 0);
  transform: translate(524.27984%, 0);
}

/* line 2, ../scss/scenes/park/_page-the-hole.scss */
.page_the-hole .foreground {
  height: 100%;
  background: url('../img/bg_park5_2.png?1377533067') no-repeat 100% 100%;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 4;
}
/* line 11, ../scss/scenes/park/_page-the-hole.scss */
.page_the-hole .rabbit {
  background: url('../img/park5_rabbit.png?1377535949');
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  position: absolute;
  top: 15%;
  left: 60%;
  width: 14.64844%;
  padding-top: 31.00586%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  z-index: 3;
}
/* line 19, ../scss/scenes/park/_page-the-hole.scss */
.cssanimations .page_the-hole .rabbit {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 21, ../scss/scenes/park/_page-the-hole.scss */
.page_the-hole .background {
  background: url('../img/bg_park5_1.png?1377532988') no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
/* line 29, ../scss/scenes/park/_page-the-hole.scss */
.page_the-hole .bg-hole {
  background: url('../img/bg-hole.jpg?1385662790') no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  position: absolute;
  top: 35.35156%;
  left: 48.63281%;
  width: 36.96289%;
  padding-top: 11.08398%;
  z-index: 1;
}
/* line 38, ../scss/scenes/park/_page-the-hole.scss */
.page_the-hole.in-view .bg-hole {
  -webkit-animation: hole-glow 0.35s steps(4) infinite alternate;
  -moz-animation: hole-glow 0.35s steps(4) infinite alternate;
  -o-animation: hole-glow 0.35s steps(4) infinite alternate;
  animation: hole-glow 0.35s steps(4) infinite alternate;
}
/* line 41, ../scss/scenes/park/_page-the-hole.scss */
.page_the-hole.in-view .rabbit {
  -webkit-animation: rabbit-down 3s forwards;
  -moz-animation: rabbit-down 3s forwards;
  -o-animation: rabbit-down 3s forwards;
  animation: rabbit-down 3s forwards;
}

@-moz-keyframes rabbit-down {
  /* line 48, ../scss/scenes/park/_page-the-hole.scss */
  100% {
    -moz-transform: translate(0, 100%);
    transform: translate(0, 100%);
  }
}

@-webkit-keyframes rabbit-down {
  /* line 48, ../scss/scenes/park/_page-the-hole.scss */
  100% {
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
  }
}

@-o-keyframes rabbit-down {
  /* line 48, ../scss/scenes/park/_page-the-hole.scss */
  100% {
    -o-transform: translate(0, 100%);
    transform: translate(0, 100%);
  }
}

@keyframes rabbit-down {
  /* line 48, ../scss/scenes/park/_page-the-hole.scss */
  100% {
    transform: translate(0, 100%);
  }
}

/* line 53, ../scss/scenes/park/_page-the-hole.scss */
#to-tunnels {
  position: absolute;
  top: 34%;
  left: 53%;
  width: 29%;
  height: 16%;
  z-index: 5;
}

@-moz-keyframes hole-glow {
  /* line 62, ../scss/scenes/park/_page-the-hole.scss */
  0% {
    background-position: 0 0;
  }

  /* line 63, ../scss/scenes/park/_page-the-hole.scss */
  100% {
    background-position: 0 133.333333%;
  }
}

@-webkit-keyframes hole-glow {
  /* line 62, ../scss/scenes/park/_page-the-hole.scss */
  0% {
    background-position: 0 0;
  }

  /* line 63, ../scss/scenes/park/_page-the-hole.scss */
  100% {
    background-position: 0 133.333333%;
  }
}

@-o-keyframes hole-glow {
  /* line 62, ../scss/scenes/park/_page-the-hole.scss */
  0% {
    background-position: 0 0;
  }

  /* line 63, ../scss/scenes/park/_page-the-hole.scss */
  100% {
    background-position: 0 133.333333%;
  }
}

@keyframes hole-glow {
  /* line 62, ../scss/scenes/park/_page-the-hole.scss */
  0% {
    background-position: 0 0;
  }

  /* line 63, ../scss/scenes/park/_page-the-hole.scss */
  100% {
    background-position: 0 133.333333%;
  }
}

/* line 95, alice-fall/*.png */
.alice-fall-sprite, .curious .alice-falling, .bored .alice-falling, .sleeping .alice-falling, .waking .alice-falling, .weird .alice-falling, .jolted .alice-falling, .alice-falling {
  background-image: url('../img/alice-fall-s4db96ce9a4.png');
  background-repeat: no-repeat;
}

/* line 4, ../scss/scenes/tunnels/_tunnels.scss */
.scene .page_tunnels {
  background: url('../img/tunnels.svg?1379668445') no-repeat, url('../img/bg_tunnel-specks.png?1374696235') repeat, #6c373f;
  -webkit-background-size: 100% auto, auto auto;
  -moz-background-size: 100% auto, auto auto;
  -o-background-size: 100% auto, auto auto;
  background-size: 100% auto, auto auto;
  padding-top: 48.82813%;
}

/* line 17, ../scss/scenes/tunnels/_tunnels.scss */
#tunnel {
  position: relative;
  z-index: 0;
}
/* line 20, ../scss/scenes/tunnels/_tunnels.scss */
#tunnel .page {
  background: url('../img/bg-tunnel-border-left.svg?1378751783') 0 0 repeat-y, url('../img/bg-tunnel-border-right.svg?1378751720') 100% 0 repeat-y, url('../img/bg_tunnel-furniture.svg?1379267001') center 0 no-repeat, url('../img/bg_tunnel-specks.png?1374696235') repeat, #6c373f;
  -webkit-background-size: 4.88281% auto, 4.88281% auto, 87.89063% auto, auto auto;
  -moz-background-size: 4.88281% auto, 4.88281% auto, 87.89063% auto, auto auto;
  -o-background-size: 4.88281% auto, 4.88281% auto, 87.89063% auto, auto auto;
  background-size: 4.88281% auto, 4.88281% auto, 87.89063% auto, auto auto;
  padding-top: 161%;
}

/* line 37, ../scss/scenes/tunnels/_tunnels.scss */
.page_falling {
  z-index: -1;
}

/* line 39, ../scss/scenes/tunnels/_tunnels.scss */
.curious .alice-falling {
  background-position: 0 16.66667%;
}

/* line 43, ../scss/scenes/tunnels/_tunnels.scss */
.bored .alice-falling {
  background-position: 0 83.33333%;
}

/* line 47, ../scss/scenes/tunnels/_tunnels.scss */
.sleeping .alice-falling {
  background-position: 0 66.66667%;
}

/* line 51, ../scss/scenes/tunnels/_tunnels.scss */
.waking .alice-falling {
  background-position: 0 100%;
}

/* line 55, ../scss/scenes/tunnels/_tunnels.scss */
.weird .alice-falling {
  background-position: 0 0;
}

/* line 59, ../scss/scenes/tunnels/_tunnels.scss */
.jolted .alice-falling {
  background-position: 0 50%;
}

/* line 12, ../../../../../../../Library/Ruby/Gems/1.8/gems/animation-studio-0.1.2/stylesheets/animation-studio/_animation-sequence.scss */
.frightened .alice-falling {
  background: url('../img/alice-frightened-s41f9b8ddd1.png') 0 0 no-repeat;
}

@-moz-keyframes freak-out {
  /* line 55, ../../../../../../../Library/Ruby/Gems/1.8/gems/animation-studio-0.1.2/stylesheets/animation-studio/_animation-sequence.scss */
  0% {
    background-position: 0 0;
  }

  /* line 58, ../../../../../../../Library/Ruby/Gems/1.8/gems/animation-studio-0.1.2/stylesheets/animation-studio/_animation-sequence.scss */
  100% {
    background-position: 0 200%;
  }
}

@-webkit-keyframes freak-out {
  /* line 55, ../../../../../../../Library/Ruby/Gems/1.8/gems/animation-studio-0.1.2/stylesheets/animation-studio/_animation-sequence.scss */
  0% {
    background-position: 0 0;
  }

  /* line 58, ../../../../../../../Library/Ruby/Gems/1.8/gems/animation-studio-0.1.2/stylesheets/animation-studio/_animation-sequence.scss */
  100% {
    background-position: 0 200%;
  }
}

@-o-keyframes freak-out {
  /* line 55, ../../../../../../../Library/Ruby/Gems/1.8/gems/animation-studio-0.1.2/stylesheets/animation-studio/_animation-sequence.scss */
  0% {
    background-position: 0 0;
  }

  /* line 58, ../../../../../../../Library/Ruby/Gems/1.8/gems/animation-studio-0.1.2/stylesheets/animation-studio/_animation-sequence.scss */
  100% {
    background-position: 0 200%;
  }
}

@keyframes freak-out {
  /* line 55, ../../../../../../../Library/Ruby/Gems/1.8/gems/animation-studio-0.1.2/stylesheets/animation-studio/_animation-sequence.scss */
  0% {
    background-position: 0 0;
  }

  /* line 58, ../../../../../../../Library/Ruby/Gems/1.8/gems/animation-studio-0.1.2/stylesheets/animation-studio/_animation-sequence.scss */
  100% {
    background-position: 0 200%;
  }
}

/* line 68, ../scss/scenes/tunnels/_tunnels.scss */
.alice-falling {
  background-position: 0 33.33333%;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  width: 31.25%;
  padding-top: 48.73047%;
  height: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  position: absolute;
  top: 0;
  z-index: 1;
}

/* line 80, ../scss/scenes/tunnels/_tunnels.scss */
.frightened .alice-falling {
  height: 998px;
  width: 640px;
  -webkit-animation: freak-out 1.5s steps(2) infinite;
  -moz-animation: freak-out 1.5s steps(2) infinite;
  -o-animation: freak-out 1.5s steps(2) infinite;
  animation: freak-out 1.5s steps(2) infinite;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  width: 31.25%;
  padding-top: 48.73047%;
  height: 0;
}

/* line 87, ../scss/scenes/tunnels/_tunnels.scss */
.sticky-wrapper {
  position: absolute;
  width: 100%;
}

/* line 92, ../scss/scenes/tunnels/_tunnels.scss */
.stuck.alice-falling {
  position: fixed;
  top: 0;
}

/* line 2, ../scss/scenes/_cut.scss */
.scene-cut {
  background: #000;
  height: 100%;
  width: 100% !important;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: opacity 2s ease-out;
  -webkit-transition-delay: 2s;
  -moz-transition: opacity 2s ease-out 2s;
  -o-transition: opacity 2s ease-out 2s;
  transition: opacity 2s ease-out 2s;
  z-index: 10;
}
/* line 9, ../scss/scenes/_cut.scss */
.scene-cut.cue {
  -webkit-animation: fadeToBlack 2s forwards, fadeInFromBlack 2s 4s forwards;
  -moz-animation: fadeToBlack 2s forwards, fadeInFromBlack 2s 4s forwards;
  -o-animation: fadeToBlack 2s forwards, fadeInFromBlack 2s 4s forwards;
  animation: fadeToBlack 2s forwards, fadeInFromBlack 2s 4s forwards;
}

@-moz-keyframes fadeToBlack {
  /* line 17, ../scss/scenes/_cut.scss */
  0% {
    opacity: 0;
  }

  /* line 18, ../scss/scenes/_cut.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeToBlack {
  /* line 17, ../scss/scenes/_cut.scss */
  0% {
    opacity: 0;
  }

  /* line 18, ../scss/scenes/_cut.scss */
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeToBlack {
  /* line 17, ../scss/scenes/_cut.scss */
  0% {
    opacity: 0;
  }

  /* line 18, ../scss/scenes/_cut.scss */
  100% {
    opacity: 1;
  }
}

@keyframes fadeToBlack {
  /* line 17, ../scss/scenes/_cut.scss */
  0% {
    opacity: 0;
  }

  /* line 18, ../scss/scenes/_cut.scss */
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeInFromBlack {
  /* line 25, ../scss/scenes/_cut.scss */
  0% {
    opacity: 1;
  }

  /* line 26, ../scss/scenes/_cut.scss */
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeInFromBlack {
  /* line 25, ../scss/scenes/_cut.scss */
  0% {
    opacity: 1;
  }

  /* line 26, ../scss/scenes/_cut.scss */
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeInFromBlack {
  /* line 25, ../scss/scenes/_cut.scss */
  0% {
    opacity: 1;
  }

  /* line 26, ../scss/scenes/_cut.scss */
  100% {
    opacity: 0;
  }
}

@keyframes fadeInFromBlack {
  /* line 25, ../scss/scenes/_cut.scss */
  0% {
    opacity: 1;
  }

  /* line 26, ../scss/scenes/_cut.scss */
  100% {
    opacity: 0;
  }
}

/* line 1, ../scss/scenes/wonderland/_crash.scss */
.page_crash-landing {
  background: url('../img/bg_wonderland1.jpg?1378781619') no-repeat;
}

/* Credits Page */
/* line 55, credits/*.png */
.credits-sprite {
  background-image: url('../img/credits-s628fd48b8d.png');
  background-repeat: no-repeat;
}

/* line 5, ../scss/scenes/wonderland/_credits.scss */
.scene-wonderland .page_credits {
  opacity: 1;
  z-index: 20;
  padding-top: 0;
  background: #a22882 url('../img/pat_argyle.svg?1378830277');
  -webkit-background-size: 25%, auto;
  -moz-background-size: 25%, auto;
  -o-background-size: 25%, auto;
  background-size: 25%, auto;
}
/* line 13, ../scss/scenes/wonderland/_credits.scss */
.scene-wonderland .page_credits .alice, .scene-wonderland .page_credits .rabbit {
  background: url('../img/sprite_credits.svg?1379666519') no-repeat;
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
  position: absolute;
  top: 20%;
  z-index: 1;
}
/* line 20, ../scss/scenes/wonderland/_credits.scss */
.scene-wonderland .page_credits .alice {
  width: 37.54883%;
  padding-top: 48.63281%;
  background-size: 106.11183%;
  left: -30%;
}
/* line 25, ../scss/scenes/wonderland/_credits.scss */
.scene-wonderland .page_credits .rabbit {
  width: 39.84375%;
  padding-top: 43.94531%;
  background-position: 0 100%;
  right: -9%;
}
/* line 31, ../scss/scenes/wonderland/_credits.scss */
.scene-wonderland .page_credits.in-view .alice {
  -webkit-transition: left ease-in 1.25s;
  -webkit-transition-delay: 0.25s;
  -moz-transition: left ease-in 1.25s 0.25s;
  -o-transition: left ease-in 1.25s 0.25s;
  transition: left ease-in 1.25s 0.25s;
  left: -23%;
}
/* line 35, ../scss/scenes/wonderland/_credits.scss */
.scene-wonderland .page_credits.in-view .rabbit {
  -webkit-transition: right ease-in;
  -webkit-transition-delay: 1s;
  -moz-transition: right ease-in 1s;
  -o-transition: right ease-in 1s;
  transition: right ease-in 1s;
  right: -20%;
}

/* line 42, ../scss/scenes/wonderland/_credits.scss */
.continued {
  background: #f090b1;
  text-indent: 0;
  margin: 0 auto;
  margin-bottom: 2.66667em;
  margin-top: 2.66667em;
  white-space: normal;
  width: 80%;
}
@media (min-width: 32.8125em) {
  /* line 51, ../scss/scenes/wonderland/_credits.scss */
  .continued .tbc {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 38.2%;
  }
}
@media (min-width: 32.8125em) {
  /* line 57, ../scss/scenes/wonderland/_credits.scss */
  .continued .action {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: right;
    width: 61.5%;
    padding: 0 5.5742968% 0 0;
  }
}
@media (max-width: 32.8125em) {
  /* line 57, ../scss/scenes/wonderland/_credits.scss */
  .continued .action {
    border-bottom: dotted 1px #82002d;
    margin: 0 14.5924% 1.33333em;
  }
}
/* line 68, ../scss/scenes/wonderland/_credits.scss */
.continued .action ul {
  margin: 0 0 1em;
}
/* line 71, ../scss/scenes/wonderland/_credits.scss */
.continued .action li {
  margin-bottom: 0.33333em;
}
@media (min-width: 32.8125em) {
  /* line 71, ../scss/scenes/wonderland/_credits.scss */
  .continued .action li {
    padding-left: 5.5742968%;
  }
}
/* line 76, ../scss/scenes/wonderland/_credits.scss */
.continued .action li a {
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  display: block;
  min-height: 3em;
  padding-left: 5.5742968%;
  padding-top: 0.66667em;
  padding-bottom: 0.66667em;
  position: relative;
}
/* line 86, ../scss/scenes/wonderland/_credits.scss */
.continued .action li span {
  display: block;
  padding-left: 3.5em;
}
/* line 90, ../scss/scenes/wonderland/_credits.scss */
.continued .action li strong {
  font-weight: 700;
}
/* line 93, ../scss/scenes/wonderland/_credits.scss */
.continued .action li em {
  font-style: italic;
}
/* line 96, ../scss/scenes/wonderland/_credits.scss */
.continued .action li svg {
  width: 3em;
  height: 3em;
  position: absolute;
  top: 0.66667em;
  left: 2.75%;
}
/* line 102, ../scss/scenes/wonderland/_credits.scss */
.continued .action li a:link, .continued .action li a:visited, .continued .action li a:hover, .continued .action li a:active {
  color: #82002d;
  text-decoration: none;
}
/* line 106, ../scss/scenes/wonderland/_credits.scss */
.continued .action li a:hover, .continued .action li a:active, .continued .action li a:focus {
  color: #ffeef4;
  background-color: #ea6391;
}
/* line 109, ../scss/scenes/wonderland/_credits.scss */
.continued .action li a:hover path, .continued .action li a:active path, .continued .action li a:focus path {
  fill: #ffeef4 !important;
}
/* line 114, ../scss/scenes/wonderland/_credits.scss */
.continued .action h3 {
  font-size: 2em;
  line-height: 1em;
  padding-bottom: 0.16667em;
  font-weight: 700;
}
@media (min-width: 32.8125em) {
  /* line 114, ../scss/scenes/wonderland/_credits.scss */
  .continued .action h3 {
    padding-left: 8.25%;
    margin-top: 0em;
    padding-top: 0.66667em;
    padding-bottom: 0.16667em;
    margin-bottom: 0em;
  }
}
/* line 125, ../scss/scenes/wonderland/_credits.scss */
.continued h2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #64044b;
  color: #ffeef4;
  font-family: "hellenic-wide";
  padding: 0.5em 14.5924%;
  font-size: 2.66667em;
  line-height: 0.75em;
  margin-bottom: 0.5em;
}
/* line 133, ../scss/scenes/wonderland/_credits.scss */
.continued h2 strong {
  font-size: 0.5em;
  line-height: 1em;
  padding-top: 0.25em;
  display: block;
}
/* line 138, ../scss/scenes/wonderland/_credits.scss */
.continued h2 span {
  display: inline-block;
}
/* line 140, ../scss/scenes/wonderland/_credits.scss */
.continued .newsletter {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 14.5924% 1.33333em;
  padding-bottom: 1.33333em;
}
@media (max-width: 32.8125em) {
  /* line 140, ../scss/scenes/wonderland/_credits.scss */
  .continued .newsletter {
    border-bottom: dotted 1px #82002d;
  }
}
/* line 147, ../scss/scenes/wonderland/_credits.scss */
.continued .newsletter a:link, .continued .newsletter a:visited, .continued .newsletter a:hover, .continued .newsletter a:active {
  position: relative;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
  color: #ffeef4;
  background: #a22782;
  padding: 0.66667em 5.5743%;
  display: block;
  text-decoration: none;
  text-align: center;
  margin-top: 0.66667em;
}
/* line 158, ../scss/scenes/wonderland/_credits.scss */
.continued .newsletter a:hover, .continued .newsletter a:active, .continued .newsletter a:focus {
  color: #fff;
  -webkit-transition: top 0.5s, left 0.5s;
  -moz-transition: top 0.5s, left 0.5s;
  -o-transition: top 0.5s, left 0.5s;
  transition: top 0.5s, left 0.5s;
  top: .15em;
  left: .15em;
}
/* line 164, ../scss/scenes/wonderland/_credits.scss */
.continued .author {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1.33333em 14.5924%;
}
@media (min-width: 32.8125em) {
  /* line 164, ../scss/scenes/wonderland/_credits.scss */
  .continued .author {
    font-size: 0.77778em;
    line-height: 1.71429em;
    clear: both;
    padding: 0 5.5743% 1.71429em;
    line-height: 1.33333em;
  }
}
/* line 174, ../scss/scenes/wonderland/_credits.scss */
.continued .author a:link, .continued .author a:visited, .continued .author a:hover, .continued .author a:active {
  color: #64044b;
  padding: .1em .1em .05em;
  text-decoration: none;
  border-bottom: dotted 1px #82002d;
}
/* line 180, ../scss/scenes/wonderland/_credits.scss */
.continued .author a:hover, .continued .author a:active {
  color: #ffeef4;
  background: #ea6391;
  border: 0;
}
/* line 186, ../scss/scenes/wonderland/_credits.scss */
.continued .img-wrap {
  background: #a22782;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
  float: left;
  margin-right: 1em;
  margin-top: -1.33333em;
  overflow: hidden;
  width: 5em;
  height: 5em;
}
/* line 196, ../scss/scenes/wonderland/_credits.scss */
.continued img {
  margin: 0 auto;
  width: 4.5em;
  height: auto;
}

@media print {
  /* line 2, ../scss/_print.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 9, ../scss/_print.scss */
  body {
    background: #fff !important;
    color: #000 !important;
  }

  /* line 14, ../scss/_print.scss */
  a,
  a:visited {
    text-decoration: none;
  }

  /* line 18, ../scss/_print.scss */
  a[href]:after {
    content: " (" attr(href) ")";
    text-decoration: underline;
  }

  /* line 23, ../scss/_print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 33, ../scss/_print.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 38, ../scss/_print.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 43, ../scss/_print.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 48, ../scss/_print.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 52, ../scss/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 62, ../scss/_print.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 68, ../scss/_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* line 74, ../scss/_print.scss */
  svg,
  #to-tunnels {
    display: none;
  }

  /* line 75, ../scss/_print.scss */
  .author a:after {
    content: "";
  }

  /* line 76, ../scss/_print.scss */
  .author {
    text-align: center;
  }

  /* line 77, ../scss/_print.scss */
  img {
    border-top: .5mm grey solid;
    display: block;
    margin: .5in auto .25in;
    padding-top: .5in;
    width: 2in;
  }
}
