$copy: "nueva-std-extended", sans-serif;
    $copy-normal: 400;
    $copy-bold: 700;
$slab: "hellenic-wide", serif;
$fancy: "blue-goblet-alt", fancy;

$earth: #6c373f; //#a36f77;
$wonderland-pink: #f090b1;
$wonderland-purple: #431236;
$wonderland-grape: #a22782;
$wonderland-burgundy: #82002d;
$wonderland-rouge: #fc0082;
$pink-white: #ffeef4;

$park-green: #20b3aa;
$park-mint: #73ebc5;
$pale-mint: #dbf5f1;

$original-mint: #73ebc5;
$original-teal: #20b3aa;

$black: #00232b;
$highlight: $original-teal; // dark green
$highlightContrast: $black; // light green
$link: #1CCEFF; //turquoise
$linkVisited: #0097C0; // dark turq
$callout: $wonderland-rouge; // pink
$magenta: #a22782; // plum

$canvas: $pale-mint;
$canvas_black: $black;
$grey: #4e6369;

%ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

::-moz-selection{ background:$magenta; color:#fff; }
::selection { background:$magenta; color:#fff; }

.deck-container {
	background:#ccc url(../../img/bg_argyle.png);
	color: $canvas_black;
	font-family: $copy;
	font-weight: $copy-normal;
	font-size:1.75em;

.slide .slide {
	.deck-before, .deck-previous {
		opacity: .4;
	}	

	.deck-child-current {
		opacity:1;
	}
}

.deck-prev-link, .deck-next-link {
	background: rgba($grey, 0.5) !important;
	font-family:serif; // sans-serif arrows x-browser fail
}

.slide {
	a {
		border-bottom: 1px dotted $link;
		padding: 1px 1px 0 1px;
		text-decoration: none;
	}
	a:link {
		color:  $link;
	}

	a:visited {
		border-color: $linkVisited;
		color: $linkVisited;
	}

	a:hover, a:active {
		color: $highlightContrast;
		background: $highlight;
		border: 0;
	}
}

.deck-status {
	color: $canvas_black;
	opacity: .5;
	font-size:0.6666em;
}

.deck-menu {
	.slide {
		background:#eee;
	}

	.deck-current, .no-touch & .slide:hover {
		background:#ddf;
	}

	// For Horizon patch
	.deck-container:not(.deck-menu) .slide.deck-horizon {
	  display:none;
	}
}

// Special Formulas
.vtop {
	color: $canvas;
	box-sizing: border-box;
	background: rgba($canvas_black,.5);
	padding: 0 .5em;
	position: absolute;
	top: 0; left: 0;
	text-shadow: 0px 1px 3px rgba($canvas_black, 0.6);
	width: 100%;
}
.vbottom {
	color: $canvas;
	background: rgba($canvas_black,.5);
	box-sizing: border-box;
	left: 0;
	padding: 0 .5em;
	position: absolute;
	bottom: 0;
	text-shadow: 0px 1px 3px rgba($canvas_black, 0.6);
	width: 100%;
}

.vtop, .vbottom {
	a {
		&:hover, &:focus, &:active, &:visited {
			color:#fff;
		}

		&:hover, &:focus {
			background:$callout;
			text-decoration:none;
		}
	}
}

// Kinds of slides

.slide_preso-title { // title page
	background: #000 url(../../img/bg_title.png) repeat-y 100% 0;
	background-size: 33.3333% auto;
	.talk-title {
		color: $original-mint;
		text-align: right;
		width: 60%;
		-webkit-transform: translate(0, -50%);
		-moz-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
		-o-transform: translate(0, -50%);
		transform: translate(0, -50%);
		position: absolute;
		top: 50%; left: 0;

	}
	h1{
		color: $original-teal;
		-webkit-transform: translate(0, 0);
		-moz-transform: translate(0, 0);
		-ms-transform: translate(0, 0);
		-o-transform: translate(0, 0);
		transform: translate(0, 0);
		position: relative;
		top: 0; left: 0;
		font-family: $slab;
		font-size: 7vw;
		line-height: 1em;
		padding: 0;
		text-align: right;
		padding-bottom: .25em;
		border-bottom: 2px dashed;
		margin-bottom: .25em;
	}
	.tagline {
		font-style: italic;
		font-size: 2.65vw;
	}
	.author {
		color: $magenta;
		padding-right: 16%;
		a {
			border-bottom: 2px dotted $magenta;
			padding: 1px 1px 0 1px;
			text-decoration: none;
		}
		a:link {
			color: $magenta;
		}

		a:visited {
			border-color: $magenta;
			color: $magenta;
		}

		a:hover, a:active {
			background: none;
			color: $wonderland-rouge;
			border: 0;
		}
	}
	img {
		position: absolute;
		right: -38%; top: -36.3333%;
		width: 60.6666667%;
	}
}

.slide_about {
	img { margin-top: 1em}
}
#slide_goodbye { // final slide
	color: darken($wonderland-burgundy, 10%);
	background: $pink-white;
	.texty-title {
		font-family: $fancy;
		border: 0;
	}
	a {
		border-bottom: 2px dotted $magenta;
		padding: 1px 1px 0 1px;
		text-decoration: none;
	}
	a:link {
		color: $magenta;
	}

	a:visited {
		border-color: $magenta;
		color: $magenta;
	}

	a:hover, a:active {
		background: none;
		color: $wonderland-rouge;
		border: 0;
	}
	&.deck-current .img-wrap{
		opacity: 1;			
	}

	.img-wrap { 
		background: $wonderland-pink;
		border-radius: 50%;
		display: block;
		opacity: .3;
		position: absolute;
		right: -10%; bottom: -10%;
		overflow: hidden;
		width: 100vh; padding-top: 100vh;
		z-index: 1;
		img {
			-moz-transform: scaleX(-1);
	        -o-transform: scaleX(-1);
	        -webkit-transform: scaleX(-1);
	        transform: scaleX(-1);
	        filter: FlipH;
	        -ms-filter: "FlipH";
			position: absolute;
			top: 0; left: 0;
			width: 100%; height: auto;
		}
	}
}

h1, h2 {
	font-weight: normal;
}

.slide_cover { // Section covers 
	.section-title {
		border: $wonderland-pink 2px dashed; border-right: 0; border-left: 0;
		font-family: $fancy;
		font-size: 2.5em;
		padding: .25em
	}
	.vcenter.title-card {
		background: $wonderland-grape;
		color: $pink-white;
		padding: 3em;
	}
}

.slide_about {
	background: $pale-mint;
	text-align: center;
}

.slide_interjection { // Section covers 
	background: $wonderland-purple;
	color: $pink-white;
	&.alt {
		background: darken($wonderland-rouge, 30%);
	}
	.statement {
		font-family: $slab;
		font-size: 2em;
		font-weight: normal;
		padding: .25em;
	}
	.small-voice {
		font-size: .75em;
		font-style: italic;
		margin-top: -1em;
		span {
			padding: 1em;
			border-top: $wonderland-pink 2px dashed;
		}
	}
}

.slide_texty { // text/code slide 
	background: $pale-mint;
	.texty-title {
		border-color: $park-green;
		font-style: italic;
	}
	.texty-body {
		.footnote {
			font-size: .75em;
			font-style: italic;
		}
		pre {
			border-color:$grey;
			em { color: $callout;}
		}

		code {
			color:#888;
		}

		figure {
			margin-bottom: 1em;
			text-align: center;
		}
		figcaption { font-style: italic;}

		blockquote {
			font-size:2em;
			font-style:italic;
			padding:1em 2em;
			color:#000;
			border-left:5px solid $grey;

			p {
				margin:0;
			}

			cite {
				font-size:.5em;
				font-style:normal;
				font-weight:bold;
				color:#888;
				display: block;
				text-align: right;
				&:before { content:"\2014";}	
			}
		}
	}
}

.slide_topical { // Graphic/free speech slide 
	.slide-tagline {
		font-size: 2em;
		font-weight: $copy-normal;
		margin: 0;
		small { 
			font-size: .25em;
			font-style: italic;
			display: block;
		}
	}

}

} // closes .deck-container

// Backgrounds for slides
#original-alice {
	background: #fff url(../../img/topic_alice-org.jpg) no-repeat center center;
	background-size: auto 100%;
}

#blair-alice {
	background: #fff url(../../img/topic_alice-blair.jpg) no-repeat center center;
	background-size: cover;
}

#movie-alice {
	background: #fff url(../../img/topic_alice-movie.jpg) no-repeat center center;
	background-size: cover;
}

#game-alice {
	background: #fff url(../../img/topic_alice-game.jpg) no-repeat center center;
	background-size: cover;
}

#manga-alice {
	background: #fff url(../../img/topic_alice-manga.jpg) no-repeat 0 0;
	background-size: cover;
}

#comic-alice {
	background: #fff url(../../img/topic_alice-comics.jpg) no-repeat 0 25%;
	background-size: cover;
}

#real-alice {
	background: #fff url(../../img/topic_alice-real.jpg) no-repeat 100% 100%;
	background-size: cover;
}

#setting-park {
	background: url(../../img/topic_park.jpg) no-repeat center center;
	background-size: cover;
}

#setting-hole {
	background: url(../../img/topic_hole.png) no-repeat center center;
	background-size: cover;
}

#chara-sister {
	background: url(../../img/chara_denise.jpg) no-repeat center center;
	background-size: cover;
}

#chara-rabbit {
	background: url(../../img/chara_rabbit.jpg) no-repeat 0 0;
	background-size: cover;
}

#chara-alice {
	background: url(../../img/chara_alice.jpg) no-repeat 0 0;
	background-size: cover;
}

#storyboard {
	background: url(../../img/topic_storyboard.jpg) no-repeat  0 25%;
	background-size: cover;
}

#cover_retina {
	background: url(../../img/cover_retina.png) no-repeat  0 0;
	background-size: cover;
}