::-moz-selection {
  background: #a22782;
  color: #fff; }

::selection {
  background: #a22782;
  color: #fff; }

.deck-container {
  background: #cccccc url(../../img/bg_argyle.png);
  color: #00232b;
  font-family: "nueva-std-extended", sans-serif;
  font-weight: 400;
  font-size: 1.75em; }
  .deck-container .slide .slide .deck-before, .deck-container .slide .slide .deck-previous {
    opacity: .4; }
  .deck-container .slide .slide .deck-child-current {
    opacity: 1; }
  .deck-container .deck-prev-link, .deck-container .deck-next-link {
    background: rgba(78, 99, 105, 0.5) !important;
    font-family: serif; }
  .deck-container .slide a {
    border-bottom: 1px dotted #1cceff;
    padding: 1px 1px 0 1px;
    text-decoration: none; }
  .deck-container .slide a:link {
    color: #1cceff; }
  .deck-container .slide a:visited {
    border-color: #0097c0;
    color: #0097c0; }
  .deck-container .slide a:hover, .deck-container .slide a:active {
    color: #00232b;
    background: #20b3aa;
    border: 0; }
  .deck-container .slide .deck-status {
    color: #00232b;
    opacity: .5;
    font-size: 0.6666em; }
  .deck-container .deck-menu .slide {
    background: #eee; }
  .deck-container .deck-menu .deck-current, .no-touch .deck-container .deck-menu .slide:hover {
    background: #ddf; }
  .deck-container .deck-menu .deck-container:not(.deck-menu) .slide.deck-horizon {
    display: none; }
  .deck-container .vtop {
    color: #dbf5f1;
    box-sizing: border-box;
    background: rgba(0, 35, 43, 0.5);
    padding: 0 .5em;
    position: absolute;
    top: 0;
    left: 0;
    text-shadow: 0px 1px 3px rgba(0, 35, 43, 0.6);
    width: 100%; }
  .deck-container .vbottom {
    color: #dbf5f1;
    background: rgba(0, 35, 43, 0.5);
    box-sizing: border-box;
    left: 0;
    padding: 0 .5em;
    position: absolute;
    bottom: 0;
    text-shadow: 0px 1px 3px rgba(0, 35, 43, 0.6);
    width: 100%; }
  .deck-container .vtop a:hover, .deck-container .vtop a:focus, .deck-container .vtop a:active, .deck-container .vtop a:visited, .deck-container .vbottom a:hover, .deck-container .vbottom a:focus, .deck-container .vbottom a:active, .deck-container .vbottom a:visited {
    color: #fff; }
  .deck-container .vtop a:hover, .deck-container .vtop a:focus, .deck-container .vbottom a:hover, .deck-container .vbottom a:focus {
    background: #fc0082;
    text-decoration: none; }
  .deck-container .slide_preso-title {
    background: black url(../../img/bg_title.png) repeat-y 100% 0;
    background-size: 33.3333% auto; }
    .deck-container .slide_preso-title .talk-title {
      color: #73ebc5;
      text-align: right;
      width: 60%;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%);
      position: absolute;
      top: 50%;
      left: 0; }
    .deck-container .slide_preso-title h1 {
      color: #20b3aa;
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);
      position: relative;
      top: 0;
      left: 0;
      font-family: "hellenic-wide", serif;
      font-size: 7vw;
      line-height: 1em;
      padding: 0;
      text-align: right;
      padding-bottom: .25em;
      border-bottom: 2px dashed;
      margin-bottom: .25em; }
    .deck-container .slide_preso-title .tagline {
      font-style: italic;
      font-size: 2.65vw; }
    .deck-container .slide_preso-title .author {
      color: #a22782;
      padding-right: 16%; }
      .deck-container .slide_preso-title .author a {
        border-bottom: 2px dotted #a22782;
        padding: 1px 1px 0 1px;
        text-decoration: none; }
      .deck-container .slide_preso-title .author a:link {
        color: #a22782; }
      .deck-container .slide_preso-title .author a:visited {
        border-color: #a22782;
        color: #a22782; }
      .deck-container .slide_preso-title .author a:hover, .deck-container .slide_preso-title .author a:active {
        background: none;
        color: #fc0082;
        border: 0; }
    .deck-container .slide_preso-title img {
      position: absolute;
      right: -38%;
      top: -36.3333%;
      width: 60.6666667%; }
  .deck-container .slide_about img {
    margin-top: 1em; }
  .deck-container h1, .deck-container h2 {
    font-weight: normal; }
  .deck-container .slide_cover .section-title {
    border: #f090b1 2px dashed;
    border-right: 0;
    border-left: 0;
    font-family: "blue-goblet-alt", fancy;
    font-size: 2.5em;
    padding: 0.25em; }
  .deck-container .slide_cover .vcenter.title-card {
    background: #a22782;
    color: #ffeef4;
    padding: 3em; }
  .deck-container .slide_about {
    background: #dbf5f1;
    text-align: center; }
  .deck-container .slide_interjection {
    background: #431236;
    color: #ffeef4; }
    .deck-container .slide_interjection.alt {
      background: #630033; }
    .deck-container .slide_interjection .statement {
      font-family: "hellenic-wide", serif;
      font-size: 2em;
      font-weight: normal;
      padding: .25em; }
    .deck-container .slide_interjection .small-voice {
      font-size: .75em;
      font-style: italic;
      margin-top: -1em; }
      .deck-container .slide_interjection .small-voice span {
        padding: 1em;
        border-top: #f090b1 2px dashed; }
  .deck-container .slide_texty {
    background: #dbf5f1; }
    .deck-container .slide_texty .texty-title {
      border-color: #20b3aa;
      font-style: italic; }
    .deck-container .slide_texty .texty-body .footnote {
      font-size: .75em;
      font-style: italic; }
    .deck-container .slide_texty .texty-body pre {
      border-color: #4e6369; }
      .deck-container .slide_texty .texty-body pre em {
        color: #fc0082; }
    .deck-container .slide_texty .texty-body code {
      color: #888; }
    .deck-container .slide_texty .texty-body figure {
      margin-bottom: 1em;
      text-align: center; }
    .deck-container .slide_texty .texty-body figcaption {
      font-style: italic; }
    .deck-container .slide_texty .texty-body blockquote {
      font-size: 2em;
      font-style: italic;
      padding: 1em 2em;
      color: #000;
      border-left: 5px solid #4e6369; }
      .deck-container .slide_texty .texty-body blockquote p {
        margin: 0; }
      .deck-container .slide_texty .texty-body blockquote cite {
        font-size: .5em;
        font-style: normal;
        font-weight: bold;
        color: #888;
        display: block;
        text-align: right; }
        .deck-container .slide_texty .texty-body blockquote cite:before {
          content: "\2014"; }
  .deck-container .slide_topical .slide-tagline {
    font-size: 2em;
    font-weight: 400;
    margin: 0; }
    .deck-container .slide_topical .slide-tagline small {
      font-size: .25em;
      font-style: italic;
      display: block; }

#original-alice {
  background: white url(../../img/topic_alice-org.jpg) no-repeat center center;
  background-size: auto 100%; }

#blair-alice {
  background: white url(../../img/topic_alice-blair.jpg) no-repeat center center;
  background-size: cover; }

#movie-alice {
  background: white url(../../img/topic_alice-movie.jpg) no-repeat center center;
  background-size: cover; }

#game-alice {
  background: white url(../../img/topic_alice-game.jpg) no-repeat center center;
  background-size: cover; }

#manga-alice {
  background: white url(../../img/topic_alice-manga.jpg) no-repeat 0 0;
  background-size: cover; }

#comic-alice {
  background: white url(../../img/topic_alice-comics.jpg) no-repeat 0 25%;
  background-size: cover; }

#real-alice {
  background: white url(../../img/topic_alice-real.jpg) no-repeat 100% 100%;
  background-size: cover; }

#setting-park {
  background: url(../../img/topic_park.jpg) no-repeat center center;
  background-size: cover; }

#setting-hole {
  background: url(../../img/topic_hole.png) no-repeat center center;
  background-size: cover; }

#chara-sister {
  background: url(../../img/chara_denise.jpg) no-repeat center center;
  background-size: cover; }

#chara-rabbit {
  background: url(../../img/chara_rabbit.jpg) no-repeat 0 0;
  background-size: cover; }

#chara-alice {
  background: url(../../img/chara_alice.jpg) no-repeat 0 0;
  background-size: cover; }

#storyboard {
  background: url(../../img/topic_storyboard.jpg) no-repeat 0 25%;
  background-size: cover; }

#cover_retina {
  background: url(../../img/cover_retina.png) no-repeat 0 0;
  background-size: cover; }
